$background-color: linear-gradient(to right bottom, #891c5a, #81125f, #780a64, #6d0569, #5f056f, #570873, #4d0b77, #420f7b, #3d127f, #371583, #301888, #271b8c);

$primary-color: rgb(222, 216, 206);
$secondary-color: rgb(38, 38, 38);
