* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(to right bottom, #891c5a, #81125f, #780a64, #6d0569, #5f056f, #570873, #4d0b77, #420f7b, #3d127f, #371583, #301888, #271b8c);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ded8ce;
  font-family: "Ubuntu", sans-serif;
}
body header {
  margin-bottom: 20px;
}
body input {
  background-color: #ded8ce;
  padding-left: 0.5em;
}

h1 {
  margin: 30px 0;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 0px 0px 5px #4d0b77;
}

.container {
  position: relative;
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

main {
  width: 50%;
  margin: 0 auto;
  padding: 25px 20px;
  border-radius: 8px;
  background-color: rgba(38, 38, 38, 0.7);
  box-shadow: 0px 0px 10px 3px #b978d0;
}
@media only screen and (max-width: 600px) {
  main {
    width: 90%;
  }
}
main input {
  margin: 2px 0;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #666666;
}
main .container,
main .radio-btn {
  display: flex;
  margin-bottom: 5px;
}
main .container *,
main .radio-btn * {
  flex: 1;
}
main .btns {
  width: 90%;
  margin: 10px auto;
}
main button {
  margin: 5px 4px;
  padding: 10px 4px;
  border: 1px solid #666666;
  border-radius: 5px;
  background-color: #ded8ce;
  transition: transform 0.3s ease;
  font-weight: bold;
}
main button:hover {
  box-shadow: 0px 4px 5px 5px #891c5a;
  transform: scale(0.9);
}
main #message {
  /* line-height: 18px; */
  color: #c63c3c;
  font-size: 0.9rem;
  font-style: italic;
  float: right;
}
main hr {
  display: none;
}
main .rate {
  position: relative;
}
main .rate::after {
  content: "%";
  font-size: 1.1rem;
  position: absolute;
  right: 1rem;
  top: 0.1em;
  color: #262626;
}
@media only screen and (max-width: 600px) {
  main .rate::after {
    top: auto;
    bottom: 0.1em;
  }
}
main .result-container {
  margin-top: 2em;
}
@media only screen and (max-width: 600px) {
  main .result {
    text-align: center;
  }
}
main .result::before {
  content: "$";
  margin-left: 2px;
  font-size: 0.9rem;
  padding-right: 0.4em;
}
main .years::after {
  content: "yrs";
}
main .currency::after {
  content: "$";
}
main .years::after,
main .currency::after {
  font-size: 0.8rem;
  position: absolute;
  right: 1rem;
  top: 0.3em;
  color: #262626;
}
@media only screen and (max-width: 600px) {
  main .years::after,
main .currency::after {
    bottom: 0.2em;
    top: auto;
  }
}